<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>HerPlant</h1>
    </div>
    <div class="login-box">
      <form class="login-form" action="index.html">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-plus"></i>เพิ่มสินค้า</h3>
        <div class="form-group">
          <label class="control-label">ชื่อสินค้า</label>
          <input [(ngModel)]="productName" name="productName" class="form-control" type="text" placeholder="Product Name" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">ราคา</label>
          <input [(ngModel)]="price" name="lname" class="form-control" type="text" placeholder="Price">
        </div> 
        <div class="form-group">
          <label class="control-label">เพิ่มรูปภาพ</label>
          <input type="file" name="image" (change)="imageProduct(inputFile)" #inputFile>
        <div *ngIf="image">
          <img src="{{image}}">
        </div>
        </div>
        <div class="form-group">
          <label class="control-label">ระยะเวลา</label>
          <input  [(ngModel)]="date" name="lname" class="form-control" type="date" placeholder="date">
          <!-- <input  [(ngModel)]="time" name="lname" class="form-control" type="time" placeholder="Time"> -->
        </div> 
      
        <div class="form-group btn-container">
          <button (click)="AddAuction()" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>เพิ่มสินค้า</button>
        </div>
      </form>  
    </div>
  </section>