img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 120px;
  }
  .form-group {
    margin-bottom: 5rem;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
  }
  .btn-primary{
    margin-left: 1rem;
    margin-right: 1rem;

  }