<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>การประมูล</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a [routerLink]="['/', AppUrl.Authen]">หน้าแรก</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="tile">
          <button [routerLink]="['/',AppUrl.Authen, AuthUrl.AddAuction]" class="btn btn-primary " ><i class="fa fa-lg fa-fw fa-plus"></i>เปิดประมูล</button>
          </div>
    </div>
  </div>
  <div class="row">
      <div class="form-group" *ngFor="let item of allProduct; let i = index">
          <div class="col-md-12">
            <div class="tile">
              <img src="{{ item.image}}"><br><br>
              <i class="fa fa-gavel">ผู้ประมูล {{item.username}}</i><br>
              <i class="fa fa-gavel">เวลาปิดการประมูล {{item.endTime}}</i><br>
              <i class="fa fa-gavel">{{days}}วัน {{hours}}ชั่วโมง {{mins}}นาที {{secs}}วินาที</i><br>
              <li class="dropdown"  (click)="setdate(item.date)" ><a class="app-nav__item" data-toggle="dropdown" aria-label="Show notifications"></a>
                <ul class="app-notification dropdown-menu dropdown-menu-center">
                  <div class="app-notification__content">
                    เวลา<countdown-timer [end]="2020-02-01"></countdown-timer> <br>
                    บิตราคา<br>
                    </div>
                  <li class="app-notification__footer"><button >ประมูล</button></li>
                </ul>
              </li>
            <button (click)="bitprice(item._id)">ประมูล</button>

            </div>
          </div>
        </div>
      </div>
</app-auth-content>