<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i>การประมูล</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a [routerLink]="['/', AppUrl.Authen]">หน้าแรก</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="tile">
          <button [routerLink]="['/',AppUrl.Authen, AuthUrl.AddAuction]" class="btn btn-primary " ><i class="fa fa-lg fa-fw fa-plus"></i>เปิดประมูล</button>
          </div>
    </div>
  </div>
  <div class="row">
      <div class="form-group" *ngFor="let item of allProduct; let i = index">
          <div class="col-md-12">
            <div class="tile">  
              <app-bit-auction [item]="item" ></app-bit-auction>            
            </div>
          </div>
        </div>
      </div>
</app-auth-content>