
<app-auth-content>
  <div class="app-title">
    <div>
      <h1>หน้าแรก</h1>
    </div>
  </div>
  <div class="row">
  <div class="form-group" *ngFor="let item of allStore; let i = index">
      <div class="col-md-12">
        <div class="tile">
          {{ item.fname}}<br>
          {{ item.lname}}<br>
          {{ item.email}}<br>
          <button (click)="getUserStore(item.email)" class="btn btn-primary" [routerLink]="['/', AppUrl.Authen, AuthUrl.Storeuser]">ดูรายละเอียด</button>
        </div>
      </div>
    </div>
  </div>
</app-auth-content>